[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fitbitr"]
	path = fitbitr
	url = https://github.com/mrkaye97/fitbitr
[submodule "slackr"]
	path = slackr
	url = https://github.com/mrkaye97/slackr
